
<h2>@ViewBag.Title.</h2>

<link href="~/Content/Dis.css" rel="stylesheet" />
<address style="margin-right:900px">
    
    <abbr title="Phone">phone:</abbr>
    0542648005
</address>

<address style="margin-right:900px">
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Markitng:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>