@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Dis.css" rel="stylesheet" />

<div style="margin-left:300px">
    <h4>Rules</h4>
    <ul>

        <li>anything</li>
        <li>anything</li>
        <li>anything</li>
        <li>anything</li>
        <li>anything</li>
    </ul>
</div>





<table class="container">
    <thead>

    </thead>
    <tbody>
        <tr>
          
            <td><p><a class="btn btn-default" href="http://localhost:50419/Books" style="color:dodgerblue">show books  &raquo;</a></p></td>
            <td> <p><a class="btn btn-default" href="http://localhost:50419/Books/Create" style="color:dodgerblue">Add books  &raquo;</a></p></td>







        </tr>
     

    </tbody>
</table>







    